@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Zemoga</h1>
        <p class="lead">Project Jonathan Javier Zarama Ochoa</p>
        <p class="lead">Design to ZEMOGA</p>
    </div>
    <div class="container">
        <form action="Home/Login" method="Post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="Guest" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="Password" value="123456" />
            </div>
            <div class="form-group">
                <button>Login</button>
            </div>
        </form>
        
    </div>

        
<div class="row">

        
</div>
